@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Si querés contacto,<br />
    meté los dedos en el enchufe.<br />
    <abbr title="Phone">P:</abbr>
    4541-0147
</address>
