@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coins.NET</h1>
    <p class="lead">Una primera experiencia.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Empezamos</h2>
        <p>
            No es para volverse loco, pero, empezamos.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Algo más habría que poner</h2>
        <p>Ya se nos va a ir ocurriendo.</p>
    </div>
</div>